<nav class="navbar navbar-default navbar-fixed-top">
  <div class="navbar-header">
    <a class="navbar-brand" routerLink="/">The Block</a>
  </div>

  <!-- Collect the nav links, forms, and other content for toggling -->
  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <ul class="nav navbar-nav">
      <li routerLinkActive="active"><a routerLink="/workouts">Workouts</a></li>
      <li routerLinkActive="active"><a routerLink="/articles">Articles</a></li>
      <li routerLinkActive="active"><a routerLink="/tools">Tools</a></li>
      <li routerLinkActive="active"><a routerLink="/recipes">Healthy Recipes</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <form class="navbar-form navbar-left">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Email">
        </div>
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Password">
        </div>
        <button type="submit" class="btn btn-default" style="margin-right: 10px">Login</button>
      </form>
    </ul>
  </div>
</nav>
