<h1>Recipes</h1>
<p class="text-muted">Healthy Recipes that you can enjoy.</p>
<hr>
<div class="col-lg-2">
  <a href=""><img
    src="http://images.media-allrecipes.com/images/60583.png"
    class="img-circle" alt="Cinque Terre" width="150" height="150">
    </a>
  <h5 class="text-center">Appetizer</h5>
</div>
<div class="col-lg-2">
  <a href="">
  <img
    src="http://images.media-allrecipes.com/images/60586.png"
    class="img-circle" alt="Cinque Terre" width="150" height="150">
  </a>
  <h5 class="text-center">Breakfast & Brunch</h5>
</div>
<div class="col-lg-2">
  <a href="">
  <img
    src="http://images.media-allrecipes.com/images/60628.png"
    class="img-circle" alt="Cinque Terre" width="150" height="150">
  </a>
  <h5 class="text-center">Chicken</h5>
</div>
<div class="col-lg-2">
  <a href="">
  <img
    src="http://img.taste.com.au/-vGeA6Xj/w720-h480-cfill-q80/taste/2016/11/basic-roast-beef-vegetables-21318-1.jpeg"
    class="img-circle" alt="Cinque Terre" width="150" height="150">
  </a>
  <h5 class="text-center">Beef</h5>
</div>
<div class="col-lg-2">
  <a href="">
  <img
    src="http://images.media-allrecipes.com/images/60593.png"
    class="img-circle" alt="Cinque Terre" width="150" height="150">
  </a>
  <h5 class="text-center">Holidays & Events</h5>
</div>
<div class="col-lg-2">
  <a href="">
  <img
    src="http://images.media-allrecipes.com/images/60587.png"
    class="img-circle" alt="Cinque Terre" width="150" height="150">
  </a>
  <h5 class="text-center">Dessert</h5>
</div>
<div class="col-lg-2">
  <a href="">
  <img
    src="http://images.media-allrecipes.com/images/60596.png"
    class="img-circle" alt="Cinque Terre" width="150" height="150">
  </a>
  <h5 class="text-center">Main Dish</h5>
</div><div class="col-lg-2">
  <a href="">
  <img
    src="http://images.media-allrecipes.com/images/60629.png"
    class="img-circle" alt="Cinque Terre" width="150" height="150">
  </a>
  <h5 class="text-center">Quick & Easy</h5>
</div><div class="col-lg-2">
  <a href="">
  <img
    src="http://images.media-allrecipes.com/images/60630.png"
    class="img-circle" alt="Cinque Terre" width="150" height="150">
    </a>
  <h5 class="text-center">Slow Cooker</h5>
</div><div class="col-lg-2">
  <a href="">
  <img
    src="http://images.media-allrecipes.com/images/58574.png"
    class="img-circle" alt="Cinque Terre" width="150" height="150">
  </a>
  <h5 class="text-center">Trusted Brands</h5>
</div><div class="col-lg-2">
  <a href="">
  <img
    src="http://images.media-allrecipes.com/images/60631.png"
    class="img-circle" alt="Cinque Terre" width="150" height="150">
  </a>
  <h5 class="text-center">Vegetarian</h5>
</div><div class="col-lg-2">
  <a href="">
  <img
    src="http://images.media-allrecipes.com/images/61721.png"
    class="img-circle" alt="Cinque Terre" width="150" height="150">
    </a>
  <h5 class="text-center">Magazine Favorites</h5>
</div>
