<div class="container">
  <div class="col-lg-7">
  </div>
  <div class="col-lg-5">
    <h2 style="padding-bottom: 12px">Sign Up!</h2>
    <form>
      <div class="form-row">
        <div class="form-group col-lg-6" style="padding:0;">
          <input type="email" class="form-control form-control-lg" id="inputFirstName" placeholder="First Name">
        </div>
        <div class="form-group col-lg-6" style="padding:0;">
          <input type="password" class="form-control" id="inputLastName" placeholder="Last Name">
        </div>
      </div>
      <div class="form-group">
        <input type="text" class="form-control" id="inputEmail" placeholder="Email">
        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
      </div>
      <div class="form-group">
        <input type="text" class="form-control" id="inputPassword" placeholder="Password">
      </div>
      <div class="form-group col-lg-4" style="padding:0;">
        <input type="text" class="form-control" id="inputAge" placeholder="Age">
      </div>
      <div class="form-group col-lg-8" style="padding:0;">
        <select class="form-control" id="exampleFormControlSelect1">
          <option value="" selected>Your Goal</option>
          <option>Lose Weight</option>
          <option>Maintain Weight</option>
          <option>Gain Mass</option>
        </select>
      </div>
      <button type="submit" class="btn btn-primary">Sign Up</button>
    </form>
  </div>
</div>
